{% extends "base.html" %}

{% block title %}Add meal{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Add new meal</h2>
    
    <form action="/alimentation/creer-repas/add-repas" method="post">
        <div class="mb-3">
            <label for="date" class="form-label">Date:</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="mb-3">
            <label for="nom_plat" class="form-label">Nom of meal:</label>
            <input type="text" class="form-control" id="name_meal" name="name_meal" required>
        </div>
        
        <div class="mb-3" id="ingredients">
            <label for="ingredient_1" class="form-label">Ingredient 1:</label>
            <input type="text" class="form-control" id="ingredient_1" name="ingredients" required>
            <label for="gramme_1" class="form-label">Grammes :</label>
            <input type="number" class="form-control" id="gramme_1" name="gramms" required>
            <label for="calories_1" class="form-label">Calories:</label>
            <input type="number" class="form-control" id="calories_1" name="calories" required><br><br>
        </div>
        <button type="button" class="btn btn-primary" onclick="ajouterIngredient()">Ajouter un ingrédient</button><br><br>
        
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>

<script>
    var counter = 1;
    function ajouterIngredient() {
        counter++;
        var newIngredient = document.createElement("div");
        newIngredient.innerHTML = `
            <label for="ingredient_${counter}" class="form-label">Ingredient ${counter}:</label>
            <input type="text" class="form-control" id="ingredient_${counter}" name="ingredients" required>
            <label for="gramme_${counter}" class="form-label">Grammes :</label>
            <input type="number" class="form-control" id="gramme_${counter}" name="gramms" required>
            <label for="calories_${counter}" class="form-label">Calories:</label>
            <input type="number" class="form-control" id="calories_${counter}" name="calories" required><br><br>
        `;
        document.getElementById("ingredients").appendChild(newIngredient);
    }
</script>
{% endblock %}
