{% extends "base.html" %}

{% block title %}Added Activities{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mb-4">You have added this activity for evaluation</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <ul class="list-group">
                {% for activity in activity_done %}
                <li class="list-group-item">
                    <strong>{{ activity.name }}</strong><br>
                    <span class="text-muted">{{ activity.description }}</span><br>
                    <small class="text-info">Time : {{ activity.time }} minutes</small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
