{% extends "base.html" %}

{% block title %}Modify Meal{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Modify Meal</h2>
    <form action="/modifier-repas-save" method="post">

        <input type="hidden" name="date" value="{{ date }}">
        <input type="hidden" name="name_meal" value="{{ repas[0].name_meal }}">
        <div class="mb-3">
            <label for="name_meal" class="form-label">Nom du plat:</label>
            <input type="text" class="form-control" id="name_meal" name="new_name_meal" value="{{ repas[0].name_meal }}"><br>
        </div>   
        <div class="mb-3">
            <div id="ingredients">
                {% for rep in repas %}
                <label for="ingredients_{{ loop.index }}" class="form-label">Ingredient {{ loop.index }}:</label>
                <input type="text" class="form-control" id="ingredients_{{ loop.index }}" name="new_ingredients" value="{{ rep.ingredients }}">
            
                <label for="gramms_{{ loop.index }}" class="form-label">Grammes {{ loop.index }}:</label>
                <input type="number" class="form-control" id="gramms_{{ loop.index }}" name="new_grammms" value="{{ rep.gramms }}">

                <label for="calories_{{ loop.index }}" class="form-label">Calorie {{ loop.index }}:</label>
                <input type="number" class="form-control" id="calories_{{ loop.index }}" name="new_calories" value="{{ rep.calories }}">
                {% endfor %}
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
{% endblock %}
