{% extends "base.html" %}

{% block title %}Training Program{% endblock %}

{% block content %}


<h1>Training Program</h1>
    
    <ul id="training-programs">
        {% for program in programe %}
            <li>{{ program.program_details }}</li>
        {% endfor %}
    </ul>

    <div class="container mt-5">
        <h1 class="mb-4">Training Program</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Day</th>
                    <th>Exercises</th>
                </tr>
            </thead>
            <tbody>
                {% for day in schedule %}
                <tr>
                    <td>{{ day.day }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for exercise in day.exercises %}
                            <li>
                                <strong>{{ exercise.name }}</strong> -> {{ exercise.description }} -> in  ({{ exercise.time }} minutes)
                                <a href="/done_program?id={{ exercise.name}}" class="btn btn-primary btn-sm" role="button">Valide</a>

                            </li>
                            {% endfor %}

                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</ul>

{% endblock %}