<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <style>
        /* Ajoutez votre style CSS ici */
    </style>
</head>
<body>
    <h1>Connexion</h1>
    <form action="/" method="post">
        <label for="user">Email:</label><br>
        <input type="text" id="user" name="email" required><br>

        <label for="password">Mot de passe:</label><br>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Se connecter">
    </form>
    <div>

        <form action="/new_pass" method="get"><button type="submit" class="btn btn-primary">register</button></form>
    </div>
</body>
</html>