<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue à la bibliothèque</title>
    <style>
        /* Ajoutez  style bootstrapp */
    </style>
</head>
<body>
    <h1>Bienvenue à la bibliothèque</h1>
    <p>Bienvenue sur notre site web de bibliothèque. Veuillez choisir une option ci-dessous :</p>
    <ul>
        <li><a href="/login">Se connecter</a></li>
        <li><a href="/register">Créer un compte</a></li>
    </ul>
</body>
</html>
