{% extends "base.html" %}

{% block title %}Modifier Livres{% endblock %}

{% block content %}
<body>
    <h1>Modifier un Livre</h1>
    <form action="/modify_book/{{ book.ISBN }}" method="post">
        <label for="auteur">Auteur:</label>
        <input type="text" id="auteur" name="auteur" value="{{ book.auteur }}" required><br><br>
        <label for="editeur">Éditeur:</label>
        <input type="text" id="editeur" name="editeur" value="{{ book.editeur }}" required><br><br>
        <label for="nom_book">Nom du Livre:</label>
        <input type="text" id="nom_book" name="nom_book" value="{{ book.nom_book }}" required><br><br>
        <button type="submit">Modifier</button>
    </form>
</body>
</html>
{% endblock %}